<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>


  <appSettings>

    <add key="SingleStrategy" value="True"/>






  </appSettings>
  
  
  <connectionStrings>

    <add name="Xiaoyujia" connectionString="Data Source=rm-wz9pc417j4x2nkt1mi.sqlserver.rds.aliyuncs.com\,3433;Initial Catalog=xyj_data;User ID=xyj;Password=Xyj#5050350%!&amp;****;MultipleActiveResultSets=true;pooling=true;min pool size = 1;max pool size=40000; " providerName="System.Data.SqlClient"/>




    <add name="readXiaoyujia" connectionString="Data Source=(local);Initial Catalog=0516;User ID=sa;Password=QAOa^eVJ;MultipleActiveResultSets=true;pooling=true;min pool size = 1;max pool size=40000;" providerName="System.Data.SqlClient"/>


  </connectionStrings>
</configuration>
